{% extends "base.html" %} {% block title %}Invest Smarter Today{% endblock %} {% block content
%}
<h1 align="left">The New Standard in Investment Management</h1>
<p>A simplistic approach to lowering your risk while increasing returns</p>

<h3>Let your hard work begin to really work for you</h3>
<p>Most investment solutions focus on selling you investing products, and advisors will sell you anything as long as they have a legal justification for it.

  They sell cookie cutter services that are really only justified by one subset of the population</p>
  <ol>With the KIS approach, we focus on the things everyone cares about</ol>
    <li>Getting higher returns over time</li>
    <li>Minimizing losses in a down market</li>
    <li>Creating additional positive cash flows</li>
    <br />
<p>We use our smaller fund size to our advantage, and leverage this to an agile approach that will outperform the market in most all conditions

  (When market returns exceed 30% annuallized returns, growth may be slower than in capital markets)</p>

<h3>Reliance on Data</h3>
<p>Our approach has stood the test of time, and out performs any major stock index over time</p>

<h3>
  Using derivatives to enhance returns</h3>
<p>At Keen Investment Solutions, we utilize options strategies to both mitigate risk from 
  the market and generate consistent cash returns</p>

<h3>Versatility in Application</h3>
<p>The KIS approach is ideal both for the recent retiree, 
  looking to maintain cash flow without decreasing assets AND for the 
  young professional ready to begin responsibly preparing for the future</p>

<h3>Always the Best Decision for You</h3>
<p>I am here to help you on your best financial future. If that means teaching you 
  to invest on your own, recommending a different investment approach, or investing 
  with me I am always happy to help!</p>

{% endblock %}

