{% extends "base.html" %}
{% block title %} Premier Strategy {% endblock %}
{% block content %}
<h2>The General Approach</h2>
<p>Most big box investment opportunities available to the general public are not focused 
    on how to safely get you the best returns possible, but instead on selling you financial
    services that make sense for you at your current stage in life. KIS was created to give 
    more people access to a better system.</p>

<h2>The Stock Market Reigns Supreme</h2>
<p>Historically the stock market has significantly better returns than any other investment. 
    Over a long time frame (10 years) the consistency of performance is actually quite good too. 
    In particular, US large cap stocks have demonstrated consistent returns with limited downside. 
    This is why the bedrock of my strategies are a modified world index, heavily weighted toward 
    US large cap stocks. </p>

<h2>Hedging with Derivatives</h2>
<p>
    Simply investing in a few ETFs that encapsulate this index will probably greatly improve your 
    portfolio's performance. The drawback to this approach is the uncertainty of returns and risk of 
    the market. To mitigate this, KIS constantly hedges all positions with various options strategies 
    geared at generating consistent income. This is a well proven approach that increases returns in 
    all cases other than when the market is averaging returns in excess of 30% annually.
</p>

<h2>Annual Passive Income</h2>
<p>
    In addition to annual growth commensurate with market performance, KIS targets an annual cash 
    distribution of 5-7% to each investor. This distribution can be reinvested or used as income. 
    This distribution makes KIS perfect for those in retirement looking for income while growing wealth, 
    and those responsibly working towards building for retirement, and those interested in giving a 
    large charitable donation annually. Important to note here that the cash distributions have 
    potential tax implications.
</p>
{% endblock %}